In [107]:
import pandas as pd

In [109]:
df = pd.read_csv("../clean_dataset/cleaned_dataset.csv", sep=",")
df

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0
...,...,...,...,...,...,...,...
387,27.0,4.0,140.0,86.0,2790.0,15.6,82.0
388,44.0,4.0,97.0,52.0,2130.0,24.6,82.0
389,32.0,4.0,135.0,84.0,2295.0,11.6,82.0
390,28.0,4.0,120.0,79.0,2625.0,18.6,82.0
391,31.0,4.0,119.0,82.0,2720.0,19.4,82.0