In [1623]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1624]:
df = pd.read_csv("../clean_dataset/cleaned_dataset.csv", sep=",")
df

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0
...,...,...,...,...,...,...,...
387,27.0,4.0,140.0,86.0,2790.0,15.6,82.0
388,44.0,4.0,97.0,52.0,2130.0,24.6,82.0
389,32.0,4.0,135.0,84.0,2295.0,11.6,82.0
390,28.0,4.0,120.0,79.0,2625.0,18.6,82.0
391,31.0,4.0,119.0,82.0,2720.0,19.4,82.0

In [1625]:
X = df.drop(columns="MPG").values
y = df["MPG"].values.reshape(-1, 1)

In [1626]:
# performing data normalization for gradient descent
X = ( X - np.mean(X, axis=0)) / np.std(X, axis=0)

In [1627]:
# adding X0 term
ones_col = np.ones((X.shape[0], 1))
X = np.c_[ones_col, X]
X

array([[ 1.        ,  1.48394702,  1.07728956, ...,  0.62054034,
        -1.285258  , -1.62531533],
       [ 1.        ,  1.48394702,  1.48873169, ...,  0.84333403,
        -1.46672362, -1.62531533],
       [ 1.        ,  1.48394702,  1.1825422 , ...,  0.54038176,
        -1.64818924, -1.62531533],
       ...,
       [ 1.        , -0.86401356, -0.56847897, ..., -0.80463202,
        -1.4304305 ,  1.63640964],
       [ 1.        , -0.86401356, -0.7120053 , ..., -0.41562716,
         1.11008813,  1.63640964],
       [ 1.        , -0.86401356, -0.72157372, ..., -0.30364091,
         1.40043312,  1.63640964]], shape=(392, 7))

In [1628]:
# intialising variables
theta = np.zeros((X.shape[1], 1))
alpha = 0.01
iterations = 2001

In [1629]:
# splitting train and test data
test_ratio = 0.2
m = X.shape[0]
index = np.random.permutation(m)

test_size = int(m * test_ratio)
train_indices = index[test_size:]
test_indices = index[:test_size]

X_train, X_test = X[train_indices], X[test_indices]
y_train, y_test = y[train_indices], y[test_indices]

In [1630]:
from IPython.display import clear_output
import time
# training
m = len(y_train)

for i in range(iterations):
    y_pred = np.dot(X_train, theta)
    error = y_pred - y_train
    gradient = (1 / m) * np.dot(X_train.T, error)
    theta -= alpha * gradient
    
    # for j in range(len(theta)):
    #     grad = np.sum(error * X_train[:, j]) / m
    #     theta[j] -= alpha * grad

    if i % 100 == 0:
        clear_output()
        time.sleep(0.01)
        print(f"Iteration {i} : Theta = {theta.flatten()}")

Iteration 2000 : Theta = [ 2.34326507e+01 -4.61736445e-01 -4.61430732e-01 -4.06089918e-01
 -4.40614535e+00 -1.71097294e-02  2.52655589e+00]

In [1631]:
# testing
y_test_pred = np.dot(X_test, theta)
test_error = y_test_pred - y_test
test_mse = np.mean(test_error ** 2)
y_train_pred = np.dot(X_train, theta)
train_error = y_train_pred - y_train
train_mse = np.mean(train_error ** 2)
test_mse, train_mse

(np.float64(9.645226630650793), np.float64(12.335271520332753))